@model Bebida

<div>
    <div class="mb-3">
        <div id="produto-tipo">
            <div class="wrapper">
                <div class="info-wrapper">
                    <div class="info produto-descricao">
                        <div class="p-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <span class="card card-produto"><img src="@Model.ImagemUrl" alt="imagem da bediba" /></span>
                                </div>
                                <div class="col-md-8">
                                    <h5><a class="produto-title" asp-controller="Bebida" asp-action="Details" asp-route-id="@Model.Id">@Model.Nome</a></h5>
                                    <p class="produto-descricao-item" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.Descricao">
                                        @Model.Descricao
                                    </p>
                                    <div class="acoes-usuario">
                                        <a href="#" class="acoes-usuario--favorito" style="color:#fff">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                                            </svg>
                                        </a>
                                        <a class="acoes-usuario--mais" asp-controller="Bebida" asp-action="Details" asp-route-id="@Model.Id">Mais...</a>
                                        <a asp-controller="CarrinhoDeCompra" asp-action="AdicionarItemNoCarrinhoDeCompra" asp-route-Id="@Model.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                            </svg>
                                        </a>
                                        <p class="float-lg-end produto-preco">@Model.Preco.ToString("c") </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



