@model Sobremesa

<div class="col-sm-3 col-md-12 col-lg-12">
    <div>
        <div class="mb-3">
            <div id="lanche-tipo" class="lanche">
                <div class="wrapper">
                    <div class="info-wrapper">                       
                        <div class="info descricao-lanche">                            
                            <div class="card p-3" style="min-width: 350px; border-radius:10px; max-height:150px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img style="margin-top:10px;" src="~/imagens/sobremesas/cupcake.png" alt="imagem do lanche" />
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            <a asp-controller="Sobremesa" asp-action="Details" asp-route-id="@Model.Id">@Model.Nome</a>
                                            <p>@Model.Preco.ToString("c") </p>
                                            <p class="descricao" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.Descricao">
                                                @Model.Descricao
                                            </p>
                                            <p class="button">
                                                <a class="btn btn-outline-danger" id="card-btn" asp-controller="CarrinhoDeCompra" asp-action="AdicionarItemNoCarrinhoDeCompra"
                                                   asp-route-Id="@Model.Id">Incluir no carrinho</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



