@model CarrinhoDeCompraViewModel


<div class="container">
    <div class="row">
        <div class="d-flex align-items-center">
            <img src="~/imagens/carrinho/cart3.svg" style="width:80px;" />
            <h3>Carrinho de compra</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Qtd</th>
                    <th>Lanche</th>
                    <th class="text-rigth">Preço</th>
                    <th class="text-rigth">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarrinhoDeCompra.CarrinhoCompraItens)
                {
                    <tr>

                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.Nome</td>
                        <td class="text-rigth">@item.Lanche.Preco.ToString("c")</td>

                        <td class="text-rigth">
                            @((@item.Quantidade * @item.Lanche.Preco).ToString("c"))
                        </td>

                        <td>
                            <a asp-controller="CarrinhoDeCompra" asp-action="RemoverItemDoCarrinhoDeCompra" asp-route-Id="@item.Lanche.Id">
                                <img style="width:25px; padding: 3px;" src="~/imagens/carrinho/trash.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-rigth">Total</td>
                    <td class="text-rigth">
                        @Model.CarrinhoDeCompraTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-rigth">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-outline-danger" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                <a class="btn btn-outline-success" asp-controller="Lanche" asp-action="NossosLanches">Continuar Comprando</a>
            </div>
        </div>

    </div>
</div>
