@model CarrinhoDeCompraViewModel


<div class="container">
    <div class="row">
        <div class="d-flex align-items-center mt-5">
            <div class="cart">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
            </div>
            <h3>Carrinho de compra</h3>
        </div>
        <table class="table table-striped" style="margin:20px; color:#fff">
            <thead>
                <tr>
                    <th>Qtd</th>
                    <th>Lanche</th>
                    <th class="text-rigth">Preço</th>
                    <th class="text-rigth">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarrinhoDeCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-rigth">
                            @item.Quantidade
                            <span style="padding-left:30px; color:#fff;">@item.Quantidade</span>
                            <span>+</span>
                        </td>
                        <td class="text-left" style="color:#fff">@item.Lanche.Nome</td>
                        <td class="text-rigth" style="color:#fff">@item.Lanche.Preco.ToString("c")</td>

                        <td class="text-rigth" style="color:#fff">
                            @((@item.Quantidade * @item.Lanche.Preco).ToString("c"))
                        </td>

                        <td>
                            <a asp-controller="CarrinhoDeCompra" asp-action="RemoverItemDoCarrinhoDeCompra" asp-route-Id="@item.Lanche.Id">
                                <img style="width:25px; padding: 3px;" src="~/imagens/carrinho/trash.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-rigth">Total</td>
                    <td class="text-rigth">
                        @Model.CarrinhoDeCompraTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-rigth" style="margin:20px;">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-outline-danger" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                <a class="btn btn-outline-success" asp-controller="Lanche" asp-action="Lanches">Continuar Comprando</a>
            </div>
        </div>

    </div>
</div>
